<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Time</th>
    <th scope="col">Temp</th>
    <th scope="col">Humidity</th>
    <th scope="col">Wind</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of weatherDetails">
    <td><img [src]="getIconUrl(item.weather[0].icon)" alt=""></td>
    <td>{{(item.dt * 1000) | date: 'shortTime'}}</td>
    <td>{{item.main.temp}} °C</td>
    <td>{{item.main.humidity}} %</td>
    <td>{{item.wind.speed}} m/s</td>
  </tr>
  </tbody>
</table>
